<h1>Edit Figure></h1>

<form action="/figures/<%=figure.id%>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">

    <h2>Name:</h2>
    <br>
    <input id="figure_name" type="text" name="figure[name]" value= "<%=@figure.name%>">
    <br>

    <h2>Edit Landmark:</h2>
    <br>
    <% Landmark.all.each do |landmark| %>
    <%= landmark.name %>
    <input type="checkbox" id="<%=landmark.id %>" name="figure[landmark_ids][]" value="<%=landmark.id%>"<%='checked' if @figure.landmark.include?(landmark)%>>
    <% end %>
    <br>

    <h4>Add a landmark:</h4>
    <input type="text" id="new_landmark" name="landmark[name]">

    <h2>Edit Title:</h2>
    <br>
    <% Title.all.each do |title| %>
    <%= title.name %>
    <input type="checbox" id="<%=title.id %>"  name="figure[title_ids][]" value="<%= title.id %>" <%='checked' if @figure.title.include?(title)%>>
    <% end %>
    <br>

    <h4>Add a title:</h4>
    <input type="text" id="new_title" name="title[name]">
    <br>
    <input type="submit" name="submit" value="Edit Figure">
</form>
