<h1>Create a new Figure</h1>
<form action="/figures" method="POST">
  <label>Name:</label>
  <br>
  <input type="text" id="figure_name" name="figure[name]">
  <br>

  <label>Titles:</label>
  <br>
  <% Title.all.each do |title| %>
  <%= title.name %>
  <input type="checkbox" id="title_<%=title.id %>" name="figure[title_ids][]" value="<%= title.id %>">
  <br></br>
  <% end %>


  <h2>and/or, create a new Title</h2>
  <input type="text" id="new_title" name="title[name]">
  <br>

  <label>Landmarks:</label>
  <% Landmark.all.each do |landmark| %>
  <%= landmark.name %>
  <input type="checkbox" id="landmark_<%=landmark.id %>" name="figure[landmark_ids][]" value="<%=landmark.id%>">
  <% end %>
  <br>

  <h2>and/or, add a new Landmark</h2>
  <input type="text" id="new_landmark" name="landmark[name]">
  <input type="submit" name="submit" value="Create New Figure">
</form>
